* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.title {
  font-size: 3rem;
  text-align: center;
  margin-top: 100px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background: white;
}

main {
  background-color: #e5e3e0;
  margin-top: 20px;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 500px;
}

.time {
  font-size: 4rem;
  margin-bottom: 30px;
  color: #22211f;
}

.buttons button {
  background: #22211f;
  color: white;
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
  border: white solid 1px;
}

.buttons button:hover {
  background: #ffffff;
  border: #22211f solid 1px;
  color: #22211f;
}

.buttons button:disabled {
  background: #e5e3e0;
  cursor: not-allowed;
  border: #22211f solid 1px;
  color: #22211f;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.35);
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(3px);
}

.modal-content {
  background: #ffffff;
  padding: 25px 30px;
  border-radius: 16px;
  width: 600px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  animation: fadeIn 0.25s ease-in-out;
}

.modal-content h3 {
  margin-bottom: 15px;
  font-size: 1.2rem;
  font-weight: 600;
  color: #111;
}

.modal-content input {
  width: 80%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 1rem;
  outline: none;
  transition: all 0.2s;
}

.modal-content input:focus {
  border-color: #000;
}

.modal-content button {
  padding: 8px 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.95rem;
  margin: 0 5px;
}

.timeSetBtn {
  background: black;
  color: white;
}

.closeModalBtn {
  background: black;
  color: white;
}

.closeModalBtn:hover,
.timeSetBtn:hover {
  background: #e5e3e0;
  color: #22211f;
  border: #22211f solid 1px;
}

.error {
  color: #d14b4b;
  font-size: 0.9rem;
  margin-bottom: 10px;
  height: 16px;
}

.alert {
  margin-bottom: 16px;
  font-size: small;
}
